@import "latte.css";

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: "Jost*", sans-serif;
  font-weight: bold;
  font-size: 12pt;
  padding-bottom: 1px;
  padding-top: 1px;
}

tooltip {
  background: @crust;
  color: @text;
  border-radius: 7px;
  border: 2px solid @text;
}

window#waybar {
  background-color: transparent;
  color: @teal;
}

window#waybar.solo {
  background-color: @base;
  color: @teal;
}

window#waybar.solo #workspaces button { border-radius: 5px; }

#custom-arch-pill {
  margin: 5px;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 7px;
  background-color: @sky;
  color: @base;
}

#custom-scratchpad_indicator {
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
  background-color: @crust;
  color: @teal;
}

#mode {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: @crust;
  color: @peach;
}

#workspaces {
  background: @crust;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 7px;
}

#workspaces button {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
  color: @text;
}

#workspaces button.current_output {
  color: @teal;
}

#workspaces button.focused {
  background-color: @teal;
  border-color: @teal;
  color: @base;
}

#workspaces button.urgent {
  background-color: @flaming;
  border-color: @flamingo;
  color: @text;
}

#workspaces button:hover {
  background: @text;
  border-color: @text;
  color: @sky;
}

#workspaces button:first-child:hover,
#workspaces button.focused:first-child,
#workspaces button.urgent:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
#workspaces button:last-child:hover,
#workspaces button.focused:last-child,
#workspaces button.urgent:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#battery{
  margin: 5px;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 7px;
  background-color: @crust;
}

#pulseaudio {
  margin: 5px;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 7px;
  color: @text;
  background-color: @crust;
}

#pulseaudio.muted {
  background-color: @red;
  color: @base;
}

#custom-playerctl {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @base;
  background-color: @text;
}

#clock {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @base;
  background-color: @teal;
}

#tray {
  margin: 5px;
  padding: 2px;
  border-radius: 7px;
  background-color: @sky;
}

/* bottom waybar */
