@define-color base   #eff1f5;
@define-color mantle #e6e9ef;
@define-color crust  #dce0e8;

@define-color text     #4c4f69;
@define-color subtext0 #6c6f85;
@define-color subtext1 #5c5f77;

@define-color surface0 #ccd0da;
@define-color surface1 #bcc0cc;
@define-color surface2 #acb0be;

@define-color overlay0 #9ca0b0;
@define-color overlay1 #8c8fa1;
@define-color overlay2 #7c7f93;

@define-color blue      #1e66f5;
@define-color lavender  #7287fd;
@define-color sapphire  #209fb5;
@define-color sky       #04a5e5;
@define-color teal      #179299;
@define-color green     #40a02b;
@define-color yellow    #df8e1d;
@define-color peach     #fe640b;
@define-color maroon    #e64553;
@define-color red       #d20f39;
@define-color mauve     #8839ef;
@define-color pink      #ea76cb;
@define-color flamingo  #dd7878;
@define-color rosewater #dc8a78;

#window {
  margin: 0px;
  border: 2px solid @text;
  border-radius: 7px;
  background-color: @base;
  font-family: "Jost*", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#input {
  margin: 15px;
  border: 2px solid @teal;
  border-radius: 10px;
  color: @teal;
  background: @base;
}

#input:focus {
  background: @teal;
  color: @base;
}

#input:focus image {
  color: @base;
}

#input image {
	color: @teal;
}

#inner-box {
  margin: 5px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: inherit;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: inherit;
  border-radius: 7px;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry:selected {
	border-radius: 10px;
  background: @teal;
}

#text:selected {
	background-color: inherit;
	color: @base;
}
